<table id="condition-list">
  <tbody>
    <% @conditions.each { |cond| -%>
    <tr><td class="cond"><input type="checkbox"><%= cond %><br>
        Groups: - (TODO)
    </td></tr>
    <% } %>
  </tbody>
</table>
