body {
    margin: 10px;
}

.caption {
    font-weight: bold;
}

.small-caption {
    font-weight: bold;
    font-size: smaller;
}

.box {
    border: 1px black solid;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px;
}

/* Top Banner override */
h1.site_title {background: transparent url('../images/logo.png') no-repeat top left; margin: 2em 0px 0px 1em; height: 35px; width: 138px;}
.first h1 {margin: 0px; padding: 0px;}
h1.site_title a {display:block; height: 35px; width:138px; text-indent: -9999px; overflow: hidden; text-decoration: none; border: 0px;}
h1.site_title a:link, h1.site_title a:visited, h1.site_title a:hover, h1.site_title a:active {border: 0px;}

.kmf_defList {

}

dl.kmf_defList dt {
    display: inline;
}

dl.kmf_defList dd {
    display: inline;
}

#kmf_documents {
    position: relative;
    margin-top: 15px;
}

.kmf_document {
    /*display: inline;*/
    width: 30em;
}

.documentHeader {
    /*width: 25em;*/
    word-wrap: break-word;
}

.fname-label {
    width: 3em;
}

.fname-value {
    width: 5em;
}

.group_name {
    word-wrap: break-word;
}

#doc4 {
    width: auto;
}

.tag-data {
    white-space: pre-wrap;
}

table.display {
    /*width: 945px;*/
    margin: 0;
}

.dataTables_wrapper {
    width: 945px;
}

.documentFunctions {
/*    left: 13em;*/
/*    position: relative;*/
/*    top: -1em;*/
    /*float: right;*/
    vertical-align: top;
}

ul.folderTools {
    margin-left: 25px;
}

#export-title {
    float: left;
    margin: 0;
}