body {
    margin: 10px;
}

.caption {
    font-weight: bold;
}

.small-caption {
    font-weight: bold;
    font-size: smaller;
}

.box {
    border: 1px black solid;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px;
}

/* Top Banner override */
h1.site_title {background: transparent url('../images/logo.png') no-repeat top left; margin: 2em 0px 0px 1em; height: 35px; width: 138px;}
.first h1 {margin: 0px; padding: 0px;}
h1.site_title a {display:block; height: 35px; width:138px; text-indent: -9999px; overflow: hidden; text-decoration: none; border: 0px;}
h1.site_title a:link, h1.site_title a:visited, h1.site_title a:hover, h1.site_title a:active {border: 0px;}

.kmf_defList {

}

dl.kmf_defList dt {
    display: inline;
}

dl.kmf_defList dd {
    display: inline;
}

#kmf_documents {
    position: relative;
    margin-top: 15px;
}

.kmf_document {
    /*display: inline;*/
    width: 30em;
}

.documentHeader {
    /*width: 25em;*/
    word-wrap: break-word;
    background-color: rgb(226, 223, 242);
    height: 3em;
    margin: 0 0 10px;
    padding-top: 10px;
    width: 960px; /*945px;*/
}

.doc-box {
    border: 1px solid;
    margin-bottom: 15px;
    overflow: auto;
}

.doc-box-show {
    border: 1px solid;
    margin-bottom: 15px;
    overflow: auto;
    width: 960px; /*945px;*/
}

.fname-label {
    width: 3em;
}

.fname-value {
    width: 5em;
}

.group_name {
    word-wrap: break-word;
}

#doc4 {
    width: 1200px; /*auto;*/
}

.tag-data {
    white-space: pre-wrap;
}

table.display {
    /*width: 945px;*/
    margin: 0;
}

.dataTables_wrapper {
    width: 960px; /*945px;*/
}

.documentFunctions {
/*    left: 13em;*/
/*    position: relative;*/
/*    top: -1em;*/
    /*float: right;*/
    vertical-align: top;
}

ul.folderTools {
    margin-left: 25px;
}

#export-title {
    float: left;
    margin: 0;
}

.index_title {
    height: 2em;
}

.show-header {
    position: relative;
    top: -1.5em;
    left: 1em;
}

.ui-tooltip, .qtip {
    min-width: 500px;
}

.group-title {
    background-color: rgb(226, 223, 242);
}

#update-metadata-table {
    margin-bottom: 15px;
}

.cond-name {
    width: 30px;
}

.del-button {
    padding-right: 20px;
}

.categ {
    width: 30px;
}

.term {
    width: 40px;
}

table#update-meta-values {
    width: 100%;
}