body {
    margin: 10px;
}

.caption {
    font-weight: bold;
}

.small-caption {
    font-weight: bold;
    font-size: smaller;
}

.box {
    border: 1px black solid;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px;
}