.wizard-form-box {
/*  width: 90%;
    margin: 0 auto;
    border: 1px solid #888888;
    border-radius: 5px;*/
    margin-left: 1em;
    border-top: 1px solid #888888;
    border-bottom: 1px solid #888888;
}

.errorbox {
    background-color: #ff8888;
}

.wizard-form-header {
    text-align: left;
    width: 100%;
    background-color: #dddddd;
}
.wizard-form-caption {
    font-size: 14pt;
    margin-left: 1em;
    font-weight: bold;
}

.wizard-form-content {
    margin-top: 1em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    font-weight: bold;
}

.wizard-question {
    margin-top: 2em;
    font-size: 12pt;
    /*text-decoration: underline;*/
}

.wizard-form-row {
    margin-top: 10pt;
}

.wizard-form-row-indent {
    position: relative;
    left: 23em;
    top: -3.5em;
    width: 75%
}

.wizard-form-label {
    text-align: right;
    display: inline-block;
    width: 120px;
}

.wizard-form-response {
    text-align: left;
}

th {
    background-color: #dddddd;
}
td.cond {
    border-bottom: 1px solid black;
}

td {
    white-space: nowrap;
}

#metadata-table-search th {
    display: inline;
    position: relative;
    text-align: left;
}

.name {
    top: 0em;
    left: 0em;
}

.group_name {
    top: -1.5em;
    left: 12em;
}

.property_key {
    top: -2.9em;
    left: 22em;
}

.property_value {
    top: -4.5em;
    left: 32em;
}

input.metadata-value {
    width: 5em;
}

.disabled {
    color: #cccccc;
}

.sub-indent {
    margin-left: 4em;
}

.horiz-line {
    margin-left: 1em;
    width: 560px;
    border-bottom: 1px solid #888888;
}

#add-new-global-term {
    margin-top: 1em;
    margin-left: 4em;
}

#dialog-right-label {
    position: relative;
    top: -2em;
    left: 20px;
}
#dialog-right {
    position: relative;
    left: 15em;
    top: -2.5em;
}

#import_error_report {
    color: red;
}

#italic-label {
    font-style: italic;
}

th#wrap-name {
    word-wrap: break-word;
}

#metadata-table-search {
    table-layout: fixed;
    width: 27em;
    border-right: 1px solid #AAA;
}
