<%# default partial to display solr document fields in catalog index view -%>
<!--<table id="metadata-table-search">-->
<table class="display dataTable">
  <thead>


  <% puts "---------" %>
  <% puts document.to_json %>
  <% puts "---------" %>
	    <tr>
	      <%= get_json_headers_datatables :document => document %>
	    </tr>
	    </thead>
            <tbody>
	      <%= get_json_for_datatables :document => document %>
	    </tbody>

  </tbody>
</table>
